@using Platform.Entities.Models
@model List<Entry>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 home-entries">
            @foreach (var item in Model)
            {
                <div class="row entry">
                    <div class="col p-2">
                        <div class="row entry-header">
                            <div class="col-2 col-md-1">
                                <div class="header__img">
                                    <img src="~/Content/assets/img/perfil.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-md-8" style="align-content:center">
                                <a href="#" class="iconwithtext">
                                    <i class='bx bx-at nav__icon'></i>
                                    <span class="nav__name">@item.Person.Username</span>
                                </a>
                            </div>
                            <div class="col-4 col-md-3">
                                <a href="#" class="iconwithtext">
                                    <i class='bx bx-tag nav__icon'></i>
                                    <span class="nav__name">@item.Tag.TagName</span>
                                </a>
                            </div>
                        </div>
                        <div class="row entry-article">

                            <div class="col p-4">
                                <h2 class="text-capitalize">@item.EntryTitle</h2>
                                @if (@item.EntryArticle.Length >= 247)
                                {
                                    <p class="text-capitalize">@item.EntryArticle.Substring(0, 247) ...</p>
                                }
                                else
                                {
                                    <p class="text-capitalize">@item.EntryArticle</p>
                                }
                            </div>
                        </div>
                        <div class="row entry-counter">
                            <div class="col like-counter">
                                <p class="iconwithtext">
                                    <i class='bx bx-heart nav__icon'></i>
                                    <span class="nav__name">@item.Likes.Count</span>
                                    <i class='bx bx-reply nav__icon'></i>
                                    <span class="nav__name">@item.Replies.Count</span>
                                </p>
                            </div>
                            <div class="col entry-calendar text-right">
                                <p class="iconwithtext" style="float: right;">
                                    <i class='bx bx-calendar nav__icon'></i>
                                    <span class="nav__name">@Convert.ToDateTime(item.EntryDate).ToString("MM/dd/yyyy")</span>
                                </p>
                            </div>
                        </div>
                        <div class="row entry-buttons p-1">
                            <div class="col">
                                <a href="#" class="iconwithtext">
                                    <i class='bx bx-like nav__icon'></i>
                                    <span class="nav__name">Beğen</span>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="iconwithtext">
                                    <i class='bx bx-comment-add nav__icon'></i>
                                    <span class="nav__name">Reply</span>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="iconwithtext">
                                    <i class='bx bx-dots-vertical-rounded nav__icon'></i>
                                    <span class="nav__name">Detay</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-12 col-md-4 right-side">
            <div class="fixed-area">
                <div class="row">
                    <div class="col popular-tags p-2">
                        <center>
                            <h2 style="display:flex;align-items:center;">
                                <span id="loading-tag" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span style="margin:0 auto" class="sr-only">Popüler Taglar</span>
                            </h2>
                        </center>
                        <div id="MostPopularTags">
                            <!--jquery ile çekiyorum.-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <center>
                        <h2 style="display:flex;align-items:center;">
                            <span id="loading-entry" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span style="margin:0 auto" class="sr-only">Popüler Entries</span>
                        </h2>
                    </center>
                    <div class="col popular-entries p-2">
                        <div class="list-group">
                            <div id="MostPopularEntries">
                                <!--jquery ile çekiyorum.-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>