@using Platform.Entities.Models
@model List<Entry>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <button id="new-entry-button" class="btn btn-success" style="width: 100%; margin-bottom: 10px;" onclick="NewEntry()">Yeni</button>
    <div id="new-post-area" style="display:none" class="well">
        <!--jquery-->
    </div>
    <div id="entries">
        @foreach (var item in Model)
        {
            <div id="entry" class="panel panel-default">
                <div class="panel-heading">
                    <img src="@item.Person.PersonImgUrl" class="img-circle pull-left">
                    <a href="/Entry/Index/@item.TagID" class="pull-right">
                        <i class='bx bx-tag-alt'></i>
                        <span>@item.Tag.TagName</span>
                    </a>
                    <a href="#"><h4>@item.EntryTitle</h4></a>
                    <a href="#" style="margin-left:5px"> @@@item.Person.Username</a>
                </div>
                <div class="panel-body">
                    <p>@item.EntryArticle</p>
                    <small>
                        <i class='bx bx-calendar'></i>
                        <span>@Convert.ToDateTime(item.EntryDate).ToString("dd/MM/yyyy")</span>
                    </small>
                    <hr>
                    <div id="entry-like&reply-counter">
                        <i class='bx bx-heart'></i><span>@item.Likes.Count</span>
                        <i class='bx bx-reply-all'></i><span>@item.Replies.Count</span>
                    </div>
                    <br />
                    <form>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default">
                                    <i class='bx bxs-like bx-tada-hover'></i>
                                </button>
                                <button class="btn btn-default">
                                    <i class='bx bxs-send bx-tada-hover'></i>
                                </button>
                            </div>
                            <input style="height: 38px;" class="form-control" placeholder="Reply" type="text">
                        </div>
                    </form>
                </div>
            </div>
        }

    </div>
</div>