@using Platform.Entities.Models
@model List<Entry>

@foreach (var item in Model)
{
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 iconwithtext">
                <i class='bx bx-right-arrow-alt nav__icon'></i>
                <span class="text-capitalize">@item.EntryTitle</span>
            </h5>
            @if (@DateTime.Today.CompareTo(item.EntryDate) > 0)
            {
                <small>@DateTime.Today.CompareTo(item.EntryDate) gün önce</small>
            }
            else
            {
                <small>Bugün</small>
            }

        </div>
        <p class="mb-1 iconwithtext">
            @if (@item.EntryArticle.Length >= 100)
            {
                <span class="text-capitalize">@item.EntryArticle.Substring(0, 97)...</span>
                <i class='bx bx-dots-horizontal-rounded nav__icon'></i>
            }
            else
            {
                <span class="text-capitalize">@item.EntryArticle</span>
            }

        </p>
        <small class="iconwithtext">
            <i class='bx bx-user-circle nav__icon'></i>
            <span>@item.Person.Username</span>
        </small>
    </a>
}